/* CSS da fonte */
.titulos {
    -fx-text-fill: #FEFBF6;
    -fx-font-size: 52px;
}

.subtitulos {
    -fx-text-fill: #2F2727;
    -fx-font-size: 22px;
}

.textos_normais {
    -fx-text-fill: #2F2727;
    -fx-font-size: 18px;
}

.textos_pequenos {
    -fx-text-fill: #2F2727;
    -fx-font-size: 14px;
}

.mensagens_erro {
    -fx-text-fill: #D07D7B;
    -fx-font-size: 14px;
}

.anchorImage {
    -fx-background-color: #7B81CA;
}

.anchorLogin {
    -fx-background-color: #F8ECDC;
}

.text-field {
    -fx-background-color:transparent;
    -fx-border-color: #C4C8EE;
    -fx-border-width: 0px 0px 1px;
}

.button:hover {
    -fx-background-color: #6B70B5;
}

.button:pressed {
    -fx-background-color: #FEFBF6;
    -fx-border-color: #7B81CA;
    -fx-text-fill: #7B81CA;
}

.button {
    -fx-background-color: #7B81CA;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: #FEFBF6;
    -fx-font-size: 18px;
}


